nav {
  background-color: #3e978b; }

body {
  background-color: #eff48e; }

h2 {
  font-family: "Pacifico", cursive; }

.main {
  background-color: #2ec1ac; }

.main_contacto {
  margin-top: 5%;
  margin-bottom: 5%; }
  .main_contacto .main_li .img_red {
    width: 12.5%; }
  .main_contacto .main_li h3 {
    text-align: end;
    font-family: "Arimo", sans-serif;
    color: white; }

.main_li-Whatsapp {
  background-image: linear-gradient(315deg, #25d366 36%, white 85%); }

.main_li-Instagram {
  background-image: linear-gradient(315deg, #c13584 27%, #ffdc80 77%); }

.main_li-Facebook {
  background-image: linear-gradient(315deg, #4267b2 34%, white 85%); }

.main_li-Twitter {
  background-image: linear-gradient(315deg, #1da1f2 25%, #e1e8ed 68%); }

.main_foot {
  background-color: #3e978b; }

.intro {
  padding-top: 25px; }

.intro_text {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto; }
  .intro_text h6 {
    font-family: "Arimo", sans-serif; }

.ubi {
  padding: 25px; }

.ubi_map {
  height: 300px; }

.ubi_text {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto; }
  .ubi_text p {
    font-family: "Arimo", sans-serif; }

.cotizar_btn {
  margin-top: 25px;
  padding: 5px 25px 5px 25px;
  font-size: 25px;
  font-family: "Arimo", sans-serif;
  color: #eff48e;
  background-color: #d2e603;
  border: 2px solid black; }

.cotizar_btn:hover {
  background-color: #fefff7;
  border: 2px solid black;
  color: black; }

.link_text {
  color: #2b2a2a;
  padding: 10px;
  font-family: "Arimo", sans-serif;
  font-size: large; }

.link_text:hover {
  text-decoration: none;
  color: black; }
